@page "/"

<h1 class="page-title">About EFMC</h1>
<br />
<p class="font-weight-normal">For over 60 years, Thomson Reuters Elite has focused on offering innovative solutions that help you spend more time growing your business and less time worrying about it. Whether you are part of a global institution, a multi-office national firm, a boutique practice, a mid- or small-size firm, a corporate legal department, or a government agency, Elite provides software products and services that help you broaden your strategic visibility over your clients, data, and business operations; simplify and boost firm-wide compliance. With Elite, you can be confident that your technology can adapt to changes to help your firm succeed.</p>

