@page "/roles"


<h1 class="page-title">All roles</h1>

@if (RoleList == null)
{
    <p><em>Loading...</em></p> }
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Role Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in RoleList)
            {
                @if (role.Name != "admin")
                {
            <tr>

                <td>@role.NormalizedName</td>
                <td>
                    <button @onclick="() => AddEditRoles(role.Id)" class="btn btn-outline-primary"><i class="fas fa-edit"></i></button>

                </td>
                <td>
                    <button @onclick="() => DeleteRoles(role.Id)" class="btn btn-outline-primary"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
                }

            }
        </tbody>
    </table>}

<button @onclick="@AddEditRoles" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>

<AddEditRoles @ref="AddEditRoleDialog" CloseEventCallback="@AddEditRolesDialog_OnDialogClose"></AddEditRoles>

@code {

}
