@page "/electricityImport"
@using Syncfusion.Blazor.Calendars
@using BethanysPieShopHRM.Server.Repository;
@using BethanysPieShopHRM.Shared;
@using Syncfusion.Blazor.Grids

@{
    var Tool = (new List<string>() { "Search" });
}

<h1>Import Electricity</h1>

<section class="content">
    <div class="row">
        <span class="col-12 float-sm-right"><a href="../../../assets/excel/formate.xlsx">Download formate</a></span>
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="possesionDate">Import date</label>
                                <SfDatePicker Max="MaxDate" Value="DateValue"></SfDatePicker>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <InputFile OnChange="@UploadFile" />
                                    </div>
                                    <div class="input-group-append">
                                        <button @onclick="HandleValidSubmit" class="btn btn-success">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <SfGrid DataSource="@GridData" AllowPaging="true" Toolbar="@Tool">
                            <GridPageSettings PageSize="10" PageCount="5" PageSizes="@pagerDropdown">
                            </GridPageSettings>
                            <GridColumns>
                                <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Electricity.ID) HeaderText="Id" IsPrimaryKey="true" Visible="false"></GridColumn>
                                <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Electricity.FlatNo) HeaderText="FlatNo" Width="150"></GridColumn>
                                <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Electricity.MeterID) HeaderText="MeterID" Width="140"></GridColumn>
                                <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Electricity.Reading) HeaderText="Reading" Width="140"></GridColumn>
                                <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Electricity.ReadingDate) HeaderText="ReadingDate" Format="d" Width="140"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    public DateTime? DateValue { get; set; } = DateTime.Now;
    public DateTime MaxDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);

    IReadOnlyList<IBrowserFile> selectedFiles;

    [Inject]
    public IImports ImportDataService { get; set; }

    List<string> xlsUrls = new List<string>();
    List<FileData> fileData = new List<FileData>();

    public List<BethanysPieShopHRM.Shared.Electricity> GridData { get; set; }

    string[] pagerDropdown = new string[] { "All", "5", "10", "15", "20" };

    protected override async Task OnInitializedAsync()
    {
        GridData = (await ImportDataService.GetAllElectricity()).ToList();
    }


    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();

        foreach (IBrowserFile xlsFile in e.GetMultipleFiles(1))
        {
            var buffers = new byte[xlsFile.Size];
            await xlsFile.OpenReadStream().ReadAsync(buffers);
            string imageType = xlsFile.ContentType;
            string imgUrl = $"data:{imageType};base64,{Convert.ToBase64String(buffers)}";
            xlsUrls.Add(imgUrl);
            fileData.Add(new FileData
            {
                Data = buffers,
                FileType = imageType,
                Size = xlsFile.Size
            });
        }
    }

    protected async Task HandleValidSubmit()
    {
        await ImportDataService.UploadElectricity(fileData);
    }
}