<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        &nbsp;
        <a href="LogOut" style="color:black;">Log out</a>
    </Authorized>
    <NotAuthorized>
        @*<a href="/register">Register</a>*@
        <a href="/login" style="color:black;">Log in</a>
    </NotAuthorized>
</AuthorizeView>