
<div class="bg-light" id="sidebar-wrapper">
    <div class="sidebar-logo">
        <img class="img-responsive" id="logo" src="images/efmc-logo.png" style="width:250px" />
    </div>
    @*<div class="profile">
            <div class="profile-bg">
                <img class="img-responsive" src="images/profilePicture.jpg" />
            </div>
            <div class="profile-picture">
                <img class="img-responsive circle account-photo" src="images/elite.png" />
            </div>
        </div>*@
    <div class="list-group list-group-flush">
  
                <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> About
                </NavLink>
      

                <AuthorizeView Roles="admin">
                    <Authorized>

                        <NavLink class="list-group-item list-group-item-action bg-light" href="/" @onclick="()=>expandSubMenu= !expandSubMenu">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
                        </NavLink>

                        @if (expandSubMenu)
                        {

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/register">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                            </NavLink>

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/roles">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Roles
                            </NavLink>

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/users">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                            </NavLink>

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/usersroles">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> UsersRoles
                            </NavLink>

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/emailSettings">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Email Settings
                            </NavLink>

                        }
                        <NavLink class="list-group-item list-group-item-action bg-light" href="/dashboard">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Dashboard
                        </NavLink>

                        <NavLink class="list-group-item list-group-item-action bg-light" href="/companyDetail">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> CompanyDetail
                        </NavLink>


                        <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeoverview">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
                        </NavLink>

                        <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeedit">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Add new employee
                        </NavLink>

                        <NavLink class="list-group-item list-group-item-action bg-light" href="/flatowners">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Flat Owners
                        </NavLink>

                        <NavLink class="list-group-item list-group-item-action bg-light" href="/buildings">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Buildings
                        </NavLink>

                        <NavLink class="list-group-item list-group-item-action bg-light" href="/priceFactor">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Price Factors
                        </NavLink>

                        <NavLink class="list-group-item list-group-item-action bg-light" href="/" @onclick="()=>expandSubMenu= !expandSubMenu">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Imports
                        </NavLink>

                        @if (expandSubMenu)
                        {

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/btuImport">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> BTU
                            </NavLink>

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/electricityImport">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Electricity
                            </NavLink>

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/waterImport">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Water
                            </NavLink>
                        }

                        <NavLink class="list-group-item list-group-item-action bg-light" href="/" @onclick="()=>expandSubMenu= !expandSubMenu">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Invoice
                        </NavLink>

                        @if (expandSubMenu)
                        {

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/invoiceList">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Invoice List
                            </NavLink>

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/billGeneration">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Bill Generation
                            </NavLink>

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/sendEmail">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Send Email
                            </NavLink>
                        }

                        <NavLink class="list-group-item list-group-item-action bg-light" href="/" @onclick="()=>expandSubMenu= !expandSubMenu">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Payments
                        </NavLink>

                        @if (expandSubMenu)
                        {

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/receiptList">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Receipts
                            </NavLink>

                            <NavLink class="list-group-item list-group-item-action bg-light" href="/summary">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Summary
                            </NavLink>
                        }

                    </Authorized>

                    <NotAuthorized>
                        <NavLink class="list-group-item list-group-item-action bg-light" href="/dashboard">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Dashboard
                        </NavLink>

                        <NavLink class="list-group-item list-group-item-action bg-light" href="/companyDetail">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> CompanyDetail
                        </NavLink>
                       
                    </NotAuthorized>
                       
                </AuthorizeView>



                


    </div>
</div>

@code {
    
    bool collapseNavMenu = true;
    public bool expandSubMenu;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    


}
