@page "/receiptList"
@inherits ReceiptBase

<h1 class="page-title">Receipts</h1>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowPaging="true">
                <GridEvents CommandClicked="OnCommandClicked" TValue="BethanysPieShopHRM.Shared.Receipt"></GridEvents>
                <GridColumns>
                    <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Receipt.FlatNo) HeaderText="BuildingId" IsPrimaryKey="true" Visible="false"></GridColumn>
                    <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Receipt.PaymentMode) HeaderText="BuildingCode" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Receipt.Bank) HeaderText="Incharge" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Receipt.AmountReceived) HeaderText="ARF" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Receipt.ReceivedBy) HeaderText="ERF" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(BethanysPieShopHRM.Shared.Receipt.CreatedDate) HeaderText="WRF" Width="100"></GridColumn>
                    <GridColumn HeaderText="Manage Records" Width="150">
                        <GridCommandColumns>
                            <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() {IconCss=" e-icons e-edit", CssClass="e-flat" })"></GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>


@*<button @onclick="@AddBuilding" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>

<AddBuildingDialog @ref="AddBuildingDialog" CloseEventCallback="@AddBuildingDialog_OnDialogClose"></AddBuildingDialog>*@

@code {

}
